.middlebar {
  position: fixed;
  left: 6%;
  top: 0;
  width: 12%;
  height: 100vh;
  background-color: #F4F1FD;
  color: #7732D8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 20px 10px;
}


.middlebar h3 {
  margin-bottom: 20px;
}

.middlebar ul {
  list-style-type: none;
  padding: 0;
}

.middlebar ul li {
  margin-bottom: 15px;
  cursor: pointer;
}

.middlebar ul li:hover {
  text-decoration: underline;
}
.agregar {
  background-color: #7732D8;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 10px; /* Bordes redondeados */
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.agregar:hover {
  background-color: #3F51B5;
  transform: translateY(-2px);
}

.agregar:active {
  transform: translateY(2px);
}

.titulo{
  font-size: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  color: #333;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}