.middlebar {
  position: fixed;
  left: 7%;
  top: 0;
  width: 12%;
  height: 100vh;
  background-color: #F4F1FD;
  color: #7732D8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 10px;
  max-width: 300px; /* Establece un límite máximo de ancho */
  box-sizing: border-box;
  overflow-y: auto; /* Asegura que el contenido no se desborde */
}

.middlebar h3 {
  margin-bottom: 20px;
}

.middlebar ul {
  list-style-type: none;
  padding: 0;
}

.middlebar ul li {
  margin-bottom: 15px;
  cursor: pointer;
}

.middlebar ul li:hover {
  text-decoration: underline;
}

.add-button {
  background-color: #7732D8;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.add-button:hover {
  background-color: #3F51B5;
  transform: translateY(-2px);
}

.add-button:active {
  transform: translateY(2px);
}

.title {
  font-size: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  color: #333;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.download-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Asegura que los botones no se salgan de la columna */
}

.download-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #35424a;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100%; /* Asegura que los botones ocupen todo el ancho */
}

.download-buttons button:hover {
  background-color: #2a3d42;
}

.preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preview-content {
  position: relative;
  background-color: white;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.preview-content img {
  width: 100%;
  height: auto;
}

.preview-content button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Responsiveness */
@media (max-width: 1000px) {
  .middlebar {
    width: 100%;
    padding: 10px 5px;
    max-width: 20%;
    left: 0;
  }

  .middlebar h3 {
    font-size: 12px;
  }

  .title {
    font-size: 2%;
  }

  .download-buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Asegura que los botones no se salgan de la columna */
  }

  .download-buttons button {
    font-size: 14px;
    width: 100%; /* Hace que los botones ocupen todo el ancho */
  }

  .add-button {
    font-size: 12px;
    padding: 8px;
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
  }
}
